@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap');
:root{
    --verde-oscuro:#009688;
    --verde-claro:#B2DFDB;
    --blanco: #ffffff;
    --negro: #000000;
    --gris-oscuro: #54585a;
    --gris-claro: #b8b8b9;
    --gris-de-fondo: #f1f1f1;
}

/*           estilos CSS header Julieth                            */ 









/*           estilos CSS main Paola                                */ 








/*           estilos CSS main Dubenis                                */ 
.icon-container i{
    color:var(--verde-oscuro);
}



/*           estilos CSS footer Julieth                             */ 







