/*           estilos CSS header Julieth   
                         */ 
:root{
    --verde-oscuro:#009688;
    --verde-claro:#B2DFDB;
    --blanco:white;
}

/*mayor a 950px de PANTALLA */
@media (min-width:950px){
    .header{    
        height: 550px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
    }    
    
    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 441px;
        font-size: 24px;
        padding: 15px 30px 15px 30px;
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:432px;
        left:10vw;
        background-color:white;opacity: 0.9; 
    }
    #links{
        background-color:var(--verde-oscuro);
        opacity: 0.9;
        color:white;
        text-align: center;
    }
/*}*/

/*menor a 950px de PANTALLA */
@media screen and (min-width:950){
    .header{    
        height: 421px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
    }    
    
    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 441px;
        font-size: 18px;
        padding: 15px 30px 15px 30px;
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:432px;
        left:10vw;
        background-color:white;opacity: 0.9; 
    }
}

/*TAMAÑO HEADER RESPONSIVE MENOR A 767PX PANTALLA */
@media screen and (min-width: 280px){
    .header{    
        height: 421px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
    }
    #links{
       /* background-color:var(--verde-claro)!important ;*/
        opacity: 0.9;
        color:white;
        text-align: center;
    }
  
    #name{
        
        text-align: center;
    }
    .text{
        margin-left: 0 !important;
    }    
    .nav-link{
        padding:0.5rem 0.5rem !important;
    }
    .nav-3{
        margin-right: 0px !important;
    }
    .nav{
        display:flex !important;
        justify-content: center !important;
    }
    #contenedor-letra-imagen{
        position:relative;
        top:150px;
        background-color:white;
        opacity: 0.8;
        
    }
    }   

    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 80vw;
        font-size: 10px;
        padding: 15px 15px 15px 15px;
        /*margin: 0 15px 0 15px !important;*/
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:300px;
        left:6vw;

        background-color:white;opacity: 0.9;  

              
    }    
}
/*menor a 950px de PANTALLA */
@media screen and (min-width:950){
    .header{    
        height: 421px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
    }    
    
    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 441px;
        font-size: 18px;
        padding: 15px 30px 15px 30px;
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:432px;
        left:10vw;
        background-color:white;opacity: 0.9; 
    }
}
@media screen and (min-width: 280px){
    .header{    
        height: 421px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
    }
    #links{
       /* background-color:var(--verde-claro)!important ;*/
        opacity: 0.9;
        color:white;
        text-align: center;
    }
  
    #name{
        
        text-align: center;
    }
    .text{
        margin-left: 0 !important;
    }    
    .nav-link{
        padding:0.5rem 0.5rem !important;
    }
    .nav-3{
        margin-right: 0px !important;
    }
    .nav{
        display:flex !important;
        justify-content: center !important;
    }   

    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 80vw;
        font-size: 10px;
        padding: 15px 15px 15px 15px;
        /*margin: 0 15px 0 15px !important;*/
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:300px;
        left:6vw;

        background-color:white;opacity: 0.9;          
    }    
}
/* PANTALLA MENOS A 320PX 

/* PANTALLA MENOS A 320PX */
/*@media (max-width:320px){
      
    #name{
        text-align: center;
    }
   
    #name{
        background-color: var(--verde-oscuro);opacity:0.9;
        padding-top:60px;
    }
    #links{
        background-color:var(--verde-claro) ;opacity: 0.9;
       justify-content: justify;
    }
    #comentario-imagen{
        top:570px !important;
        background-color:white;opacity: 0.9;        
    }
    #links-footer li{
        text-align:center !important;
        
    }
    #links-footer li{
     
        justify-content:justify !important;

    }
}*/
/*ESTILOS PARA LOS ID*/
/*.header{
    padding-bottom: 550px;
    background-image: url("/ninas.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  
    background-attachment: fixed;
}*/



#name{
    background-color: var(--verde-oscuro);
    opacity: 0.9;
}
.text{
    margin-left: 45px;
}
#links{
    background-color: var(--verde-oscuro);
    opacity: 0.9;
}
.nav-link{
    padding: 0.5rem 0.4rem;
}
.nav-3{
    margin-right: 45px;
}
.footer{
    border-top: 2px solid #b8b8b9;
    margin-right: 40px;
    margin-left: 40px;
}
#links-footer li{
    list-style: none; 
    line-height:30px;
    text-align:right;
    font-size: 15px;
    font-family: 'Open Sans';
    color:#54585A;
    
}
#nombre-equipo-peque{
    font-size: 16px;
    font-family: 'Open Sans';
    color:#54585A;
}



/*           estilos CSS main Paola                                */ 








/*           estilos CSS main Dubenis                                */ 









/*           estilos CSS footer Julieth                             */ 







