/*           estilos CSS header Angelica                            */ 









/*           estilos CSS main Carolina                             */ 








/*           estilos CSS main Laura                                */ 

main{
    padding-left: 40%;
    padding-right: 40%;
}
button{
    width: "250";
}







/*           estilos CSS footer Angelica                            */ 







