<<<<<<< HEAD
/*           estilos CSS header Julieth         */ 
:root{
    --verde-oscuro:#009688;
    --verde-claro:#B2DFDB;
    --blanco: #ffffff;
    --negro: #000000;
    --gris-oscuro: #54585a;
    --gris-claro: #b8b8b9;
    --gris-de-fondo: #f1f1f1;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    --normal: 12px;
}


.container-equipo {
    margin: 1rem;
    padding: 1rem;
}
h1, h3, h4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    font-size: 24px;
    align-items: center;
    text-align: center;   
    color:var(--verde-oscuro);
}

h2 {
    font-size: 22px;
    align-items: center;
    text-align: center;   
    color:var(--verde-oscuro);
}

h3 {
    font-size: 20px;
    padding-top: 10px;
}
p {
    font-size: 16px;
    align-items: center;
    display:inline-block; 
    text-align: center;    
}

.container-descripcion { 
    background-color: #b8b8b9;
}

.container-descripcion h3{
    color:var(--verde-oscuro);
}

.icon-container i{
    color:var(--verde-oscuro);
}


/*Small devices (landscape phones, 767.98px and up)*/
@media (max-width: 767.98px) { 
    .header{    
        height: 421px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
        margin-bottom: 30px;
    }
    #links{
        background-color:var(--verde-claro)!important ;
        opacity: 0.9;
        color:white;
        text-align: center;
    }
    
=======
/*           estilos CSS header Julieth   
                         */ 
:root{
    --verde-oscuro:#009688;
    --verde-claro:#B2DFDB;
    --blanco:white;
}
@media (min-width:768px){

}
    #contenedor-letra-imagen{
        padding-right: 30px;padding-left: 30px; margin-left: 38px;
        width: 60%  !important;
        position: relative;
        top:200px;
        background-color: var(--blanco);opacity: 0.8;;
}
/*mayor a 768px de PANTALLA */
/*
@media (min-width:768px){
  
    .links {
        align-content: end !important;
       
    }
    #name{
        background-color:var(--verde-oscuro);
        opacity: 0.9;
        padding-left:50px;
    }
    #links {
        background-color:var(--verde-claro) ;
        color: white;
        opacity: 0.7;
        text-align: center;
    }
    #comentario-imagen{
        background-color: var(--blanco);
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        opacity:0.8;
         
    }
    #contenedor-letra-imagen{
        padding-right: 30px;padding-left: 30px; margin-left: 38px;
        width: 60%  !important;
        position: relative;
        top:410px !important;
   }
}*/
/*TAMAÑO HEADER RESPONSIVE MENOR A 767PX PANTALLA */
@media (max-width: 767px){
   
  
>>>>>>> formulario-header-footer
    #name{
        
        text-align: center;
    }
    .text{
        margin-left: 0 !important;
<<<<<<< HEAD
    }    
    .nav-link{
        padding:0.5rem 0.5rem !important;
=======
    }
    #links{
        background-color:var(--verde-claro) !important;opacity: 0.9;
        color:white;
        text-align: center;

    }
    .nav-link{
        padding:0.5rem 0.8rem !important;
>>>>>>> formulario-header-footer
    }
    .nav-3{
        margin-right: 0px !important;
    }
    .nav{
        display:flex !important;
        justify-content: center !important;
<<<<<<< HEAD
    }   

    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 80vw;
        font-size: 18px;
        padding: 15px 15px 15px 15px;
        /*margin: 0 15px 0 15px !important;*/
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:300px;
        left:10vw;
        background-color:white;opacity: 0.9;          
    }    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .header{    
        height: 421px;
        background-image: url("/ninas2.jpg");
        background-size: cover;
        background-repeat: no-repeat;  
        background-attachment: fixed;
        margin-bottom: 45px;
    }    
    
    #comentario-imagen h1{
        background-color: var(--blanco);
        width: 441px;
        font-size: 24px;
        padding: 15px 30px 15px 30px;
        font-family: 'Opne Sans',sans-serif;
        position: relative;
        top:300px;
        left:10vw;
        background-color:white;opacity: 0.9; 
    }
    }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){ 
    
.header{    
    height: 550px;
    background-image: url("/ninas2.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin-bottom: 45px;
}    

#comentario-imagen h1{
    background-color: var(--blanco);
    width: 441px;
    font-size: 24px;
    padding: 15px 30px 15px 30px;
    font-family: 'Opne Sans',sans-serif;
    position: relative;
    top:432px;
    left:10vw;
    background-color:white;opacity: 0.9; 
}
#links{
    background-color:var(--verde-oscuro);
    opacity: 0.9;
    color:white;
    text-align: center;
    }  
}  
=======
    }
    #contenedor-letra-imagen{
        position:relative;
        top:150px;
        background-color:white;
        opacity: 0.8;
        
    }
    #comentario-imagen{
        background-color: var(--blanco);
        font-size: 24px;
        font-family: 'Opne Sans',sans-serif;
        

    }
}
/* PANTALLA MENOS A 320PX */
@media (max-width:320px){
      
    #name{
        text-align: center;
    }
   
    #name{
        background-color: var(--verde-oscuro);opacity:0.8;
        padding-top:60px;
    }
    #links{
        background-color:var(--verde-claro) ;opacity: 0.8;
       justify-content: justify;
    }
    #comentario-imagen{
        top:570px !important;
        background-color:white;opacity: 1;        
    }
    #links-footer li{
        text-align:center !important;
        
    }
    #links-footer li{
     
        justify-content:justify !important;

    }
}
/*ESTILOS PARA LOS ID*/
.header{
    padding-bottom: 550px;
    background-image: url("/ninas.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  
    /*background-attachment: fixed;*/
}
>>>>>>> formulario-header-footer

#name{
    background-color: var(--verde-oscuro);
    opacity: 0.9;
}
.text{
    margin-left: 45px;
}
#links{
    background-color: var(--verde-oscuro);
<<<<<<< HEAD
    opacity: 0.9;
}
.nav-link{
    padding: 0.5rem 0.4rem;
=======
}
.nav-link{
    padding: 0.5rem 0.7rem !important;
>>>>>>> formulario-header-footer
}
.nav-3{
    margin-right: 45px;
}
.footer{
    border-top: 2px solid #b8b8b9;
    margin-right: 40px;
    margin-left: 40px;
}
#links-footer li{
    list-style: none; 
    line-height:30px;
    text-align:right;
<<<<<<< HEAD
    font-size: 15px;
=======
    font-size: 14px;
>>>>>>> formulario-header-footer
    font-family: 'Open Sans';
    color:#54585A;
    
}
#nombre-equipo-peque{
<<<<<<< HEAD
    font-size: 16px;
    font-family: 'Open Sans';
    color:#54585A;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap');


/*           estilos CSS header Julieth                            */ 


=======
    font-size: 14px;
    font-family: 'Open Sans';
    color:#54585A;
}
>>>>>>> formulario-header-footer







/*           estilos CSS main Paola                                */ 




/*           estilos CSS main Dubenis                                */ 




/*           estilos CSS footer Julieth                             */ 


                        





